<div  class="color">
<label >Name</label>
 <input appMouse  type="text"> 
</div>

<span  appColorchange [change]="color" class="name">
  vishal kumar
</span>


<app-button [color]="'red'" (passcolor)="colorclick($event)"></app-button>
<app-button [color]="'green'" (passcolor)="colorclick($event)"></app-button>
<app-button [color]="'black'" (passcolor)="colorclick($event)"></app-button>
<!-- 
<button (click)="changecolor('red')">red</button>
<button (click)="changecolor('green')" >green</button>
<button (click)="changecolor('black')">black</button> -->
